# Database
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/safebite"

# Authentication (Google)
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# NextAuth
# Generate a random secret (e.g. `openssl rand -base64 32` or just type a long random string for local testing)
NEXTAUTH_SECRET="your_super_secret_random_string_here"
NEXTAUTH_URL="http://localhost:3000"
